.slide-wrapper {
    display: inline-block;
    margin: 1em;
  }
  
  .slide-wrapper img {
    display: block;
  }
  
  .slide-wrapper .content {
    background: rgb(202,202,202);
    display: inline-block;
    min-width: 100%;
    width: 0;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    text-align: center;
    font-family: sans-serif;
  }
  
  body > * {
    text-align: left;
  }
  
  body > p {
    text-align: right;
  }

  .photo {
    /* height: 100%; */
    height: 250px;
    width: 250px;
    object-fit: cover;
  }